<!DOCTYPE HTML>
<html lang="">

<head>
    <meta charset="UTF-8">
    <title>外卖</title>
    <link rel="stylesheet" type="text/css" href="/bower/bootstrap-3.3.5-dist/css/cosmo.css">
    <link rel="stylesheet" type="text/css" href="/bower/font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/bower/angular/angular.js"></script>
    <script src="/bower/angular-animate/angular-animate.js"></script>
    <script src="/bower/angular-cookies/angular-cookies.js"></script>
    <script src="/bower/angular-ui-bootstrap/uibootstrap.js"></script>
    <script src="/js/customer/common.js"></script>
    <script src="/js/customer/orderController.js"></script>
</head>

<body ng-app="o2o" ng-controller="pageCtrl">
<div ng-include="'/parts/main/nav'"></div>
<div class="page-wrapper">
    <div class="page-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="restaurant.html">炸Tomcat</a>
                        </li>
                        <li class="active">确认购买</li>
                    </ol>
                </div>
                <div class="col-xs-4">
                    <div class="order-paper">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>菜品</th>
                                <th class="text-right">价格/份数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="o in orders">
                                <td>{{o.name}}</td>
                                <td class="text-right">￥{{o.price}}{{o.num>1?' * '+o.num:''}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="order-paper-footer"></div>
                </div>
                <div class="col-xs-8">
                    <form class="order-form">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-map-marker icon-lg"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="输入送餐地址">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-comment icon-lg"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="输入留言">
                        </div>
                        <button type="button" class="btn btn-lg btn-block btn-danger" ng-click="pay()">支付￥127.0</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'/parts/main/footer'"></div>
</div>
</body>

</html>
